{% extends "base.html" %}

{% block title %}Home | Money Manager{% endblock %}

{% block content %}
<div class="above"> 
    <div class="container">
        <div class="box">
            <h2>Welcome To Money Manager App!</h2>
            <p class="inbox">We Value Your Money & Enjoyment</p>
        </div>
        <div class="small-box">
            <p>It is a app which give you the idea how you save your money while enjoing.</p>
        </div>
        <a id="one" class="form" href="/manager">Go To Manager</a>
        
    </div>
</div>
{% endblock %}
